@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", serif;
}

.home {
  width: 100%;
  height: fit-content;
  padding: 10px 100px;
  h2 {
    color: #0085db;
    margin-bottom: 1rem;
  }
  ul {
    li {
      a {
        text-decoration: none;
        color: #0085db;
      }
    }
  }
}
